<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>{{article['title']}}</h1>
    <div>{{article['points']}} points | By {{article['author']}} | <a href="{{article['link']}}" target="_blank">{{article['link']}}</a></div>
  </header>
  <main>
    {%for comment in article['comments'] %}
    <div>
      <strong>{{comment['author']}}</strong>
      <p></p>
      {{comment['text'] |safe}}
      <p></p>
    </div>
    <hr>
    {% endfor %}
  </main>
</body>

</html>
